Reisid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Reisid">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Reis">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Firma" type="xs:string" />
							<xs:element name="Sihtkoht" type="xs:string" />
							<xs:element name="Lennujaamad">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Valjumine" type="xs:string" />
										<xs:element name="Saabumine" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="kestus" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="Transport">
								<xs:complexType>
									<xs:attribute name="tuup" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:unsignedShort" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="Majutus">
								<xs:complexType>
									<xs:attribute name="value" type="xs:unsignedShort" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="Ekskursioonid">
								<xs:complexType>
									<xs:attribute name="value" type="xs:unsignedShort" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="MuudKulud">
								<xs:complexType>
									<xs:attribute name="value" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="Hind">
								<xs:complexType>
									<xs:attribute name="value" type="xs:decimal" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:unsignedByte" use="required" />
						<xs:attribute name="reisi_number" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>